<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>

  <!-- Bootstrap core CSS -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
  <header id="headers">
    <h1 class="headline"><a href="/">ACME Products</a></h1>
    <div class="header-btn home"><a href="/">Home</a></div>
    <div class="header-btn prods"><a href="/products">Products</a></div>
  </header>

  <section class="container">
    <h1>Page Not Found.</h1>
    <p>I don't know what you're looking for, but this is not it.</p>
    <p><a href="/">Go back to home page.</a></p>
  </section>
</body>
</html>
