<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>

  <!-- Bootstrap core CSS -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
  <header id="headers">
    <h1 class="headline"><a href="/">ACME Products</a></h1>
    <div class="header-btn home"><a href="/">Home</a></div>
    <div class="header-btn prods"><a href="/products">Products</a></div>
  </header>

  <main class="container">
    <h2>{{ product.name }}</h2>
    <ul class="list-group product-list">
      <li class="list-group-item"><b>Rating:</b> {{ product.rating }}</li>
      <li class="list-group-item"><b>Style:</b> {{ product.style }}</li>
      <li class="list-group-item"><b>Origin:</b> {{ product.origin }}</li>
      <li class="list-group-item"><b>ABV:</b> {{ product.abv }}</li>
    </ul>

    <form action="/products/{{ product.id }}?_method=DELETE" method="POST">
      <button class="btn btn-danger">Delete</button>
    </form>
  </main>
</body>
</html>
